.review-card{
    height: 400px;
    width: 250px;
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    margin-bottom: 5rem;

    &__video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content{
        position: absolute;
        bottom: 0;
        padding: 1rem;
    }
}