.products{
    background: #faeade;
    padding: 0 1rem 1rem 1rem;
    color: #523122;
    position: relative;

    &__header{
        position: sticky;
        top: calc(100vh - 5rem);
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #faeade;
        z-index: 50;

        &-button{
            width: fit-content;
            padding: 0.83rem 3.18rem;
            font-size: 1rem;
            background: #e3a458;
            color: #523122;
            border-radius: 99999px;
            border: 1px solid #e3a458;
            letter-spacing: -.01vw;
            font-family: "Antonio", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Antonio", sans-serif;
        letter-spacing: -.4vw;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2.8rem;
        line-height: 110%;
        padding: 0 1.5rem;

        &-span{
            display: inline-block;

            &--transform{
                display: block;
                transform: rotateZ(-3deg);
                background: #a26833;
                color: #faeade;
                border: 1px solid #faeade;
                justify-self: center;
                padding: 0 0.1rem 0.3rem;
                position: relative;
                z-index: 10;
                width: fit-content;
            }

            &:nth-child(1){
                transform: translateY(0.1rem);
            }

            &:nth-child(3){
                transform: translateY(-0.7rem);
            }
        }
    }

    &__gallery{
        padding-bottom: 5rem;
    }
}