.hero{
    width: 100%;
    height: 100vh;
    background: #222123;
    overflow: hidden;

    &__background{
        position: absolute;
        top: -11rem;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 100%;

        @media screen and (min-width:768px) {
            display: none;
        }
    }

    &__wrapper{
        background: #faeade;
        color: #523122;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5rem;
        position: relative;

        @media screen and (min-width:768px){
            padding-top: 6rem;
        }

        &-wrapper{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-title{
            font-size: 13vw;
            font-family: "antonio", sans-serif;
            text-transform: uppercase;
            letter-spacing: -.08rem;
            line-height: 100%;
        }

        &-subtitle{
            font-size: 13vw;
            font-family: "antonio", sans-serif;
            text-transform: uppercase;
            color: #fce1cd;
            background: #a26833;
            line-height: 120%;
            padding: 0 0.2rem 0.2rem;
            letter-spacing: -.08rem;
            border: 1px solid #fce1cd;
            transform: rotateZ(-2deg);
            white-space: nowrap;
            overflow: hidden;

            @media screen and (min-width:768px){
                padding: 0 0.2rem 0.4rem;
            }
        }

        &-text{
            width: 80%;
            padding: 2rem 0;
            line-height: 120%;
            font-weight: 400;
        }

        &-button{
            padding: 0.8rem 2.8rem;
            border-radius: 9999px;
            border: 1px solid #e3a458;
            background: #e3a458;
            font-size: 1rem;
            font-family: "antonio", sans-serif;
            text-transform: uppercase;
            color: inherit;
            font-weight: 700;
        }
    }

    &__image{
        width: 100%;
        margin-top: 2rem;
        padding: 0 1rem;

        @media screen and (min-width:768px){
            width: 60%;
            margin: auto;
            padding: 0;
        }
    }
}