.product-card{
    position: relative;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: bottom;
    height: 350px;
    width: 100%;
    overflow: hidden;
    max-width: 550px;

    @media screen and (min-width:768px){
        max-width: 800px;
        height: 786px;
    }

    &__background{
        position: absolute;
        width: 100%;
        max-height: 80%;
        bottom: 0;
        left: 0;
        display: block;
        object-fit: cover;
        border-radius: 1.5rem;
    }

    &__back{
        width: 100%;
        position: absolute;
        bottom: 3rem;
        left: 0;
        display: block;
        padding: 0 1rem;
        max-height: 80%;
    }

    &__bottle{
        position: relative;
        transform: translateY(1.8rem);
        display: block;
        margin: 0 auto;
        object-fit: contain;
        width: 100%;
    }

    &__title{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        font-size: 1.5rem;
        font-family: "antonio", sans-serif;
        letter-spacing: -0.01rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 105%;
        color: #faeade;
    }
}