.product-card{
    position: relative;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media screen and (min-width: 500px) {
        height: 450px;
    }

    @media screen and (min-width: 900px) {
        height: 700px;
        width: 750px;
    }

    &__bottle{
        position: absolute;
        height: 350px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        
        @media screen and (min-width: 500px) {
            height: 450px;
        }

        @media screen and (min-width: 900px) {
            height: 700px;
        }
    }

    &__ingredient{
        height: 260px;
        width: 100%;
        position: absolute;
        bottom: 40px;
        background-size: contain;

        @media screen and (min-width: 500px) {
            height: 360px;
        }

        @media screen and (min-width: 900px) {
            height: 450px;
            bottom: 80px;
        }
    }

    &__background{
        height: 270px;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;

        @media screen and (min-width: 500px) {
            height: 360px;
            border-radius: 2rem;
        }

        @media screen and (min-width: 900px) {
            height: 500px;
        }
    }

    &__title{
        padding: 1rem;
        font-size: 2rem;
        font-family: "antonio", sans-serif;
        letter-spacing: -0.01rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 105%;
        color: #faeade;
        position: relative;

        @media screen and (min-width: 900px) {
            font-size: 3rem;
            padding: 1.5rem;
        }
    }
}