.cta{
    background: #222123;
    color: #faeade;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__text{
        display: flex;
        flex-direction: column;
        padding: 3.1rem 1rem 0;
        font-size: 0.9rem;
        gap: 0.3rem;
    }

    &__title{
        padding: 9.375rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Antonio", sans-serif;
        letter-spacing: -.08rem;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2.9rem;
        line-height: 110%;

        &-span{
            display: block;
            justify-self: center;            
            position: relative;
            z-index: 10;
            width: fit-content;
            border: 1px solid #222123;

            &--1{
                transform: rotateZ(3deg);
                color: #faeade;            
                background: #c88e64;
                z-index: 11;
                padding: 0 0.2rem 0.3rem;
            }

            &--2{
                transform: rotateZ(-2deg);
                color: #2e2d2f;
                background-color: #faeade;
                padding: 0 0.2rem 0.3rem;
            }

            &--3{
                transform: rotateZ(2deg);
                background-color: #7f3b2d;
                color: #faeade;   
                padding: 0 0.4rem 0.3rem;
                z-index: 11;
            }

            &--4{
                transform: rotateZ(-3deg);
                color: #2e2d2f;
                background-color: #fed775;
                padding: 0 0.7rem 0.3rem;
            }
        }
    }

    &__subtitle{
        padding: 0 1rem 3.1rem;
        font-size: 0.9rem;
    }
}