.header{
    display: flex;
    padding: 1rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &__logo{
        width: 80px;
    }

    &__link{
        color: #523122;
        font-weight: 700;
        padding: 0.75rem 1.1rem;
        font-family: "antonio", sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 9999px;
        background: #fef3f0;
        letter-spacing: -.005rem;
        border: 1px solid #fef3f0;
    }
}