@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.media{
    width: 100%;

    &__video-wrapper{
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__video{

        &-video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-image{
            max-width: 115px;
            display: block;
            animation: rotate 20s linear infinite;
        }

        &-content{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-circle{
            position: absolute;
            width: 4.3rem;
            height: 4.3rem;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 99999px;
        }

        &-icon{
            position: absolute;
            color: white;
            font-size: 0.65rem;
        }
    }

    &__reviews{
        position: relative;
        z-index: 1;
        background: #faeade;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__button{
        position: sticky;
        top: calc(100% - 10rem);
        z-index: 10;
        width: fit-content;
        padding: 0.83rem 3.18rem;
        font-size: 1rem;
        background: #e3a458;
        color: #523122;
        border-radius: 99999px;
        border: 1px solid #e3a458;
        letter-spacing: -.01rem;
        font-family: "Antonio", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }


    &__title{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        font-size: 20.5vw;
        color: #222123;
        letter-spacing: -.08rem;
        text-transform: uppercase;
        font-family: "Antonio", sans-serif;
        line-height: 105%;
        font-weight: 700;

        &-span--2{
            color: #e3a458;
        }
    }

    &__gallery{ 
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50vw;

        @media screen and (min-width:768px){
            padding-top: 58vw;
        }
    }

    &__wave{
        position: relative;
        background: #222123;
        padding-bottom: 0.5rem;
        
        img{
            width: 100%;
            object-fit: cover;
            display: block;
            transform: translateY(-0.1rem);
        }
    }
}