@keyframes rotate {
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360);
    }
}

.media{

    &__video-wrapper{
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }

    &__video{

        &-video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-image{
            max-width: 125px;
            animation: rotate 2s infinite;
        }

        &-content{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-circle{
            position: absolute;
            width: 4.5rem;
            height: 4.5rem;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 99999px;
        }

        &-icon{
            position: absolute;
            color: white;
        }
    }

    &__reviews{
        height: 100vh;
        background: white;
    }
}