.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #222123;
    color: #faeade;
    padding: 3.8rem 1rem;
    gap: 3rem;
    position: relative;
    font-weight: 600;
    font-size: 0.85rem;

    @media screen and (min-width:768px){
        align-items: start;
    }

    &__background{
        position: absolute;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        top: 0;
        left: 0;

        @media screen and (min-width:768px) {
            display: none;
        }
    }

    &__title-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-self: center;
    }

    &__title{
        font-size: 12vw;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 105%;
        letter-spacing: -.08rem;
        font-family: "antonio", sans-serif;
    }

    &__social{
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;

        &-link{
            border-radius: 9999px;
            background: #222123;
            padding: 0.95rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #faeade48; 

            img{
                width: 20px;
                aspect-ratio: 1;
            }
        }
    }

    &__nav{
        position: relative;
        display: flex;
        width: 100%;
        gap: 2rem;
        padding-top: 6rem;

        @media screen and (min-width:768px){
            gap: 0;
        }

        &-wrapper{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-link{
            color: inherit;
            text-decoration: none;
        }
    }

    &__form{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        &-label{
            display: flex;
            border-bottom: 1px solid #faeade;
        }

        &-input{
            background: none;
            font-size: 1.45rem;
            font-family: "antonio", sans-serif;
            padding: 1rem 0;
            flex: 1;
            border: none;
            font-weight: 700;
            outline: none;
            color: #faeade;

            &::placeholder{
                color: #faeade9d;
            }
        }

        &-button{
            background: none;
            border: none;
            color: #faeade;
            font-size: 2rem;
            padding: 0;
        }
    }

    &__link-wrapper{
        display: flex;
        gap: 2rem;

        @media screen and (min-width:768px){
            position: absolute;
            right: 1rem;
            bottom: 3.8rem;
            color: #faeadead;
        }
    }

    &__copyright{
        color: #faeadead;
    }

    &__link{
        color: inherit;
        text-decoration: none;
    }
}