.map{
    background: url(https://cdn.prod.website-files.com/669a8d6498ba88c08dfd2cd2/66a799f357e5045354c1d4e9_map.svg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem;
    color: #faeade;

    &__title{
        display: flex;
        flex-direction: column;
        font-family: "antonio", sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 110%;
        

        &-span{
            display: inline-block;
            letter-spacing: -.08rem;

            &--2{
                color: #523122;
                background: #e3a458;
                width: fit-content;
                border: 1px solid ;
                padding: 0 0.25rem 0.3rem;
                transform: rotateZ(3deg) translateY(0.2rem);
            }
        }
    }

    &__text{
        font-size: 0.9rem;
        font-size: 400;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__button{
            width: fit-content;
            padding: 0.83rem 2.4rem;
            font-size: 1rem;
            background: #222123;
            color: #faeade;
            border-radius: 99999px;
            border: 1px solid #222123;
            letter-spacing: -.01rem;
            font-family: "Antonio", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
        }
}